.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group__label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Istok Web', sans-serif;
  width: 50%;
  text-align: right;
}

.form-group__required {
  color: #dc3545;
  margin-left: 2px;
}

.form-group__input-wrapper {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.form-group-skills-container{
  display: flex;
  padding-left: 28%;
}

.form-group-languages-container{
  display: flex;
  flex-direction: column;
}

.form-group-languages-container .form-group{
  margin-right: 200px;
}

.form-group-languages-container .checkbox-group{
  display: flex;
  margin-right: 120px;
}

.form-group__group-format-container{
  display: flex;
  justify-content: center;
}

.form-group__group-format-container .form-group__input-wrapper{
  display: flex;
  flex-direction: column;
}

.form-group__group-format-container .form-group__label{
  text-align: left;
}

.form-group__person-data-container{
  display: grid;
  margin-right: 330px;
}

.form-group__person-data-container *{
}

.form-group__person-data-container .form-group__input-wrapper{
  width:  100%;
}

.form-group__person-data-container .form-group__label{
}

.form-group__person-data-container .form-group{
  margin: 8px 0 8px 0;
}

.form-group__person-data-container .form-group__error{
  text-align: left;
  width: 70%;
  padding-left: 510px;
  font-family: 'Istok Web', sans-serif;
  font-size:  20px;
}

.form-group__input,
.form-group__textarea {
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 16px;
  font-size: 24px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  font-family: 'Istok Web', sans-serif;
  width: 500px;
}

.form-group__input-work-places .form-group{
  display: flex;
  align-items: center;
  margin-right: 0;
}

.form-group__input-work-places .form-group__input-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
}

.radio-group__input-years .radio-group{
  margin-left: 28%;
}

.form-group__input:focus,
.form-group__textarea:focus {
  outline: none;
  border-color: #DC8E28;
}

.form-group__input--highlighted {
  border-color: #DC8E28 !important;
  background-color: #f8f9ff;
}

.form-group--error .form-group__input,
.form-group--error .form-group__textarea {
  border-color: #dc3545;
}

.form-group--error .form-group__input:focus,
.form-group--error .form-group__textarea:focus {
  border-color: #dc3545;
}

.form-group__textarea {
  resize: vertical;
  min-height: 120px;
}

.form-group__hint {
  display: block;
  margin-top: 4px;
  font-size: 20px;
  font-family:  'Istok Web', sans-serif;
}

.form-group__error {
  display: block;
  margin-top: 4px;
  color: #dc3545;
  font-size: 14px;
  font-weight: 500;
} 