.privacy-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.privacy-notice__icon {
  font-size: 48px;
  margin-bottom: 16px;
}

.privacy-notice__text {
  margin: 0;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 600;
}
