.radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radio-group__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radio-group__input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.radio-group__input:checked {
  border-color: #126231;
}

.radio-group__input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #126231;
  border-radius: 50%;
}

.radio-group__label {
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 24px;
}